<!-- Homepage just has a single column that holds a welcome message and update notes -->
<div class="container">
    <div class="row row-cols-1 justify-content-center my-3">
        
        <div class="col-md-auto text-center">

            <!-- Welcome Message -->
            <div class="container p-5">
                <h2>Game Tracker</h2>
                <p class="text-break fs-5 text-muted">This site allows you to track your own game library and check on what your friends are playing!</p>
            </div>

            <!-- Update Notes -->
            <div class="container p-5">
                <h3>Update Notes</h3>
                <p class="text-break fs-5 text-muted">Still under construction.</p>
            </div>
        </div>

    </div>

</div>

<div id = "feedDiv"></div>

<script src="/js/homefeed.js"></script>