<!-- Social has two columns: -->
<!-- First: A friends list that you can use to select which friend you want to stalk. -->
<!-- Second: A table showing their game collection -->

<div class="container">

    <!-- This first row just contains the heading and description -->
    <div class="row row-cols-1 justify-content-center my-3">
        <div class="col-md-auto text-center">
            <div class="container p-5">
                <h2>Social</h2>
                <p class="text-break fs-5 text-muted">You can use this page to approve friend requests.</p>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 justify-content-center my-3">
        <div class="col-md-auto text-center">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" onclick="showFeed()" id="feedTab">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showRequests()" id="requestTab">
                        Requests       <span class="badge bg-info text-dark">{{senders.length}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- This is the main row which shows either the friend requests list or the friend feed -->
    <div class="row row-cols-2 justify-content-center my-3">
        <div class="col-12 text-center">
            <div class="container p-1">

                <!-- Friend Requests list -->
                <ul class="d-none list-group" id="requestList">

                    <!-- Display every friend request in a list -->
                    {{#each senders as |sender|}}
                    <li class="list-group-item">{{sender.name}} wants to be your friend

                        <!-- Approval button -->
                        <button type="button" class="btn btn-outline-primary" data-senderID="{{sender.id}}"
                            onclick="approveReq(this)">Approve</button>

                        <!-- Decline button -->
                        <button type="button" class="btn btn-outline-primary" data-senderID="{{sender.id}}"
                            onclick="declineReq(this)">Decline</button>
                    </li>
                    {{/each}}

                </ul>


                <!-- Feed list -->
                <ul class="list-group" id="feedList">
                    <li class="list-group-item">This is a test for the feed</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="./js/social.js"></script>